<template>
  <div>
    <div class="container p-4 mt-4">
      <h1>Detalles</h1>
      <form v-if="participant != null">
        <div class="form-group">
          <label for="folio">Folio</label>
          <input
            type="folio"
            class="form-control"
            id="folio"
            placeholder="Folio"
            v-model="folio"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
            v-model="participant.email"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="name">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Nombre"
            v-model="participant.nombre"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="matricula">Matrícula</label>
          <input
            type="text"
            class="form-control"
            id="matricula"
            placeholder="Matrícula"
            v-model="participant.matricula"
            readonly
          />
        </div>
        <div class="form-group">
          <label for="phone-number">Celular</label>
          <input
            type="tel"
            pattern="[0-9]{10}"
            class="form-control"
            id="phone-number"
            placeholder="Celular"
            v-model="participant.celular"
            readonly
          />
        </div>
        <button type="button" class="btn btn-secondary" @click="reset">
          Consultar otro registro
        </button>
      </form>
      <form v-else @submit.prevent="getParticipant">
        <div class="form-group">
          <label for="folio">Folio</label>
          <input
            type="text"
            class="form-control"
            id="folio"
            placeholder="Folio"
            v-model="folio"
            required
          />
        </div>
        <div>
          <div v-if="showNoParticipantMatchingAlert" class="alert alert-info">
            <button
              type="button"
              class="close"
              @click="closeNoParticipantMatchingAlert"
            >
              &times;
            </button>
            <span>No hay ningún registro con este folio</span>
          </div>
          <input type="submit" class="btn btn-primary" value="Ver detalles" />
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import firebaseService from "../services/firebaseService";

export default {
  async mounted() {
    this.folio = this.$route.query.folio;
    if (this.folio) {
      this.getParticipant();
    } else {
      this.participant = null;
    }
  },
  data() {
    return {
      participant: {
        email: "",
        password: "",
        nombre: "",
        matricula: "",
        celular: ""
      },
      folio: "",
      showNoParticipantMatchingAlert: false
    };
  },
  methods: {
    async getParticipant() {
      this.participant = await firebaseService.getParticipantDetails(
        this.folio
      );
      if (this.participant == null) {
        this.showNoParticipantMatchingAlert = true;
      }
    },
    reset() {
      this.participant = null;
      this.folio = null;
      this.showNoParticipantMatchingAlert = false;
    },
    closeNoParticipantMatchingAlert() {
      this.showNoParticipantMatchingAlert = false;
    }
  }
};
</script>
