<template>
  <div class="home">
    <div class="hero">
      <div class="hero-one"></div>
      <div class="hero-two"></div>
      <h1 class="header-title">
        <span class="header-primary">Fime Conf</span
        ><span class="header-sub">Tu mejor inversión eres tú</span><br />
        <router-link
          to="/registration"
          type="button"
          class="btn btn-light btn-lg p-3 mt-4"
          >Registro</router-link
        >
      </h1>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home"
};
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  overflow: hidden;
}

.hero {
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: #ccc;
  position: relative;
  text-transform: uppercase;
  font-family: "Amatic SC", sans-serif;
  letter-spacing: 17.5px;
}

.hero-one {
  top: 0;
  position: absolute;
  width: 60%;
  background-color: black;
  height: 100vh;
  clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.uanl.mx/wp-content/uploads/2018/08/Banner-Fachada-IngenieriaMecanicayElectrica.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  background-color: green;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("https://upload.wikimedia.org/wikipedia/commons/0/0a/FIME_Oso.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-title {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-primary {
  font-size: 2em;
  display: block;
  font-weight: 700;
}
</style>
