<template>
  <div>
    <div class="container p-4 mt-4">
      <h1>Registro</h1>
      <form @submit.prevent="register">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
            v-model="newParticipant.email"
            required
          />
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Contraseña"
            v-model="newParticipant.password"
            required
          />
        </div>
        <div class="form-group">
          <label for="name">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Nombre"
            v-model="newParticipant.nombre"
            required
          />
        </div>
        <div class="form-group">
          <label for="matricula">Matrícula</label>
          <input
            type="text"
            class="form-control"
            id="matricula"
            placeholder="Matrícula"
            v-model="newParticipant.matricula"
            required
          />
        </div>
        <div class="form-group">
          <label for="phone-number">Celular</label>
          <input
            type="tel"
            pattern="[0-9]{10}"
            class="form-control"
            id="phone-number"
            placeholder="Celular"
            v-model="newParticipant.celular"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
      </form>
    </div>
  </div>
</template>

<script>
import firebaseService from "../services/firebaseService";

export default {
  methods: {
    async register() {
      try {
        const newParticipantFolio = await firebaseService.registerNewParticipant(
          this.newParticipant
        );
        this.$router.push({
          path: "/successful-registration",
          query: { folio: newParticipantFolio }
        });
      } catch (error) {
        alert(error.message);
      }
    }
  },
  data() {
    return {
      newParticipant: {
        email: "",
        password: "",
        nombre: "",
        matricula: "",
        celular: ""
      }
    };
  }
};
</script>
