<template>
  <div>
    <div class="container p-4 mt-4">
      <h1>Gracias por registrarte</h1>
      <h2>Tu folio de registro es: {{ folio }}</h2>
      <router-link
        :to="{ path: '/details', query: { folio: folio } }"
        class="btn btn-primary"
        >Ver detalles</router-link
      >
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    this.folio = this.$route.query.folio;
  },
  data() {
    return {
      folio: ""
    };
  }
};
</script>

<style scoped>
.container {
  word-wrap: break-word;
}
</style>
