<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <router-link to="/" class="navbar-brand">Fime Conf</router-link>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <router-link to="/" class="nav-link">Inicio</router-link>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Registro
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="navbarDropdown"
          >
            <router-link to="/registration" class="dropdown-item"
              >Registrarse</router-link
            >
            <div class="dropdown-divider"></div>
            <router-link to="/details" class="dropdown-item"
              >Consultar Registro</router-link
            >
          </div>
        </li>
      </ul>
    </div>
  </nav>
</template>
