<template>
  <div id="app">
    <NavBar />
    <router-view />
  </div>
</template>

<script>
import NavBar from "./components/NavBar";

export default {
  components: {
    NavBar: NavBar
  }
};
</script>

<style>
html,
body {
  height: 100%;
}

.container {
  background-color: white;
  min-height: 500px;
  border-radius: 5px;
}

@media only screen and (max-width: 992px) {
  .container {
    width: 90vw !important;
  }
}

#app {
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.uanl.mx/wp-content/uploads/2018/08/Banner-Fachada-IngenieriaMecanicayElectrica.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
</style>
